* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #003c43;
}

/* GENERICS */

h2 {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

/* END OF GENERICS */

.container {
  display: flex;
  flex-direction: column;
  width: min(960px, 100%);
  padding: 6px 50px;
  box-shadow: 0px 10px 20px black;
  background: linear-gradient(#77b0aa, #69ded3);
  gap: 50px;
}

.header {
  /* display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(1fr, 600px)); */
  display: flex;
  flex-wrap: wrap;
  min-height: 450px;
  margin: 10px 0px;
}

.header img,
.contact > img {
  max-height: 400px;
  align-self: center;
  justify-self: end;
  margin: 10px 15px 10px 0px;
  box-shadow: 2px 2px 8px black;
}

.header .about-me {
  /* grid-column: 2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100%, 600px);
  gap: 10px;
}

.header .about-me h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 2.3rem;
  border-bottom: 2px solid black;
}

.work {
  display: flex;
  flex-direction: column;
}

.work h2,
.contact h2 {
  margin-bottom: 24px;
  border-bottom: 2px solid black;
}

.works {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.work-card {
  display: flex;
  flex-direction: column;
  background-color: #e3fef7;
  border-left: 12px solid orange;
  border-radius: 10px;
  box-shadow: 2px 2px 6px gray;
  max-width: 450px;
  min-height: 350px;
  transition: transform 0.15s ease-in-out;
}

.work-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.work-card:hover img {
  opacity: 1;
}

.work-card > a > img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0.6;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
  border-top-right-radius: 10px;
}

.work-card .card-details,
.work-card p {
  padding: 10px;
}

.work-card h3 {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.work-card .card-details .card-header {
  display: flex;
  gap: 6px;
  align-items: center;
}

.contact {
  min-height: 60dvh;
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
}

.contact h2 {
  grid-column: 1 / -1;
}

.contact .contact-panel {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

.contact .contact-panel p {
  font-size: 18px;
}

.contact img {
  grid-row: 2;
  grid-column: 2;
}

.contact ul {
  list-style-type: none;
}

.contact .contact-details img {
  height: 24px;
}

.contact .contact-details li {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.contact .links {
  display: flex;
}

.contact .links a img {
  max-height: 50px;
  transition: transform 0.2s ease-in-out;
}

.mini-logo {
  max-height: 24px;
  transition: transform 0.2s ease-in-out;
}

.contact .links a img:hover,
.mini-logo:hover {
  transform: scale(1.4);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(200px, 1fr);
  margin-bottom: 30px;
  max-width: 960px;
  margin: 24px -50px -6px -50px;
  min-height: 60px;
  background-color: #e3fef7;
}

.footer p {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  .container {
    padding: 3px;
  }
  .work-card {
    width: 100%;
  }
}
